@font-face {
    font-family:'Raleway-Thin' ;
    src: url(../font/Raleway/Raleway-Thin.ttf);
}
@font-face {
    font-family:'Raleway-Regular' ;
    src: url(../font/Raleway/Raleway-Regular.ttf);
}
@font-face {
    font-family:'Raleway-Bold' ;
    src: url(../font/Raleway/Raleway-Bold.ttf);
}
@font-face {
    font-family:'Raleway-Black' ;
    src: url(../font/Raleway/Raleway-Black.ttf);
}
@font-face {
    font-family:'Roboto-Regular' ;
    src: url(../font/Roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family:'Roboto-Medium' ;
    src: url(../font/Roboto/Roboto-Medium.ttf);
}
@font-face {
    font-family:'Roboto-Bold' ;
    src: url(../font/Roboto/Roboto-Bold.ttf);
}

